<ur-loader *ngIf="pracownicyService.isLoading"></ur-loader>
<div class="row" *ngIf="!pracownicyService.isLoading">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <form #f="ngForm">
      <div class="form-group">
        <label for="imie">Imię: </label>
        <input type="text"
               id="imie"
               value="user[1]"
               [ngModel]="pracownicyService.users[id][1]"
               class="form-control"
               name="imie"
               ngModel
               required
               imie
               #imie="ngModel">
        <span class="help-block" *ngIf="!imie.valid && imie.touched" style="color:red; font-size: 10px">Imie jest wymagane!</span>
      </div>
      <div class="form-group">
        <label for="nazwisko">Nazwisko: </label>
        <input type="text"
               id="nazwisko"
               [ngModel]="pracownicyService.users[id][2]"
               class="form-control"
               name="nazwisko"
               ngModel
               #nazwisko="ngModel"
               required>
        <span class="help-block" *ngIf="!nazwisko.valid && nazwisko.touched" style="color:red; font-size: 10px">Nazwisko jest wymagane!</span>
      </div>
      <div class="form-group">
        <label for="email">Email: </label>
        <input type="text"
               id="email"
               disabled
               class="form-control"
               name="email"
               [ngModel]="pracownicyService.users[id][3]"
               ngModel
               required
               email
               #email="ngModel">
        <span class="help-block" *ngIf="!email.valid && email.touched" style="color:red; font-size: 10px">Wprowadź poprawny email!</span>
      </div>
      <div class="form-group">
        <label for="stanowisko">Stanowisko : </label>
        <select class="custom-select form-control mr-sm-2"
                id="stanowisko"
                name="stanowisko"
                ngModel
                required
                #stanowisko="ngModel">
          <option value="1" [disabled]="pracownicyService.users[id][5] != 1"
                  [selected]="pracownicyService.users[id][5] == '1'">Właściciel
          </option>
          <option value="2" [selected]="pracownicyService.users[id][5] == '2'">Kasjer</option>
          <option value="3" [selected]="pracownicyService.users[id][5] == '3'">Ochroniarz</option>
          <option value="4" [selected]="pracownicyService.users[id][5] == '4'">Obsługa myjni</option>
          <option value="5" [selected]="pracownicyService.users[id][5] == '5'">Obsługa dystrybutora</option>
        </select>

        <span class="help-block" *ngIf="!stanowisko.valid && stanowisko.touched" style="color:red; font-size: 10px">Stanowisko jest wymagane!</span>
      </div>
      <div>
        <button class="btn btn-primary" (click)="edytuj(f)"
                [disabled]="!f.valid ">Edytuj
        </button>
        <button class="btn btn-danger" (click)="usun()">Usuń
        </button>

      </div>
    </form>
  </div>
</div>

