<ur-loader *ngIf="cennikService.isLoading || stacjaService.isLoading"></ur-loader>
<div class="row" *ngIf="!cennikService.isLoading || !stacjaService.isLoading">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group">
        <div class="form-group">
          <label for="produkt">Produkt : </label>
          <select class="custom-select form-control mr-sm-2"
                  id="produkt"
                  name="produkt"
                  ngModel
                  required
                  (ngModelChange)="onSelect($event);kod_sprawdz(f);cena_oblicz(f)"
                  #produkt="ngModel">
            <ng-container *ngFor="let produkt of cennikService.cennik, let i = index">
              <option [value]="i">
                {{produkt[1]}}
              </option>
            </ng-container>
          </select>
          <span class="help-block" *ngIf="!produkt.valid && produkt.touched" style="color:red; font-size: 10px">Produkt jest wymagany!</span>
        </div>
        <div class="form-group">
          <label for="email">Email: </label>
          <input type="text"
                 id="email"
                 class="form-control"
                 name="email"
                 placeholder="email@test.com"
                 ngModel
                 maxlength='42'
                 email
                 (focusout)="kod_sprawdz(f)"
                 #email="ngModel">
        </div>
        <div class="form-group">
          <label for="kod">Kod promocyjny: </label>
          <input type="text"
                 id="kod"
                 class="form-control"
                 name="kod"
                 ngModel
                 #kod="ngModel"
                 (focusout)="kod_sprawdz(f)">
        </div>
        <div class="form-group">
          <label for="ilosc"> Ilość: </label>
          <input type="number"
                 id="ilosc"
                 (focusout)="cena_oblicz(f)"
                 min="1"
                 step="10"
                 class="form-control"
                 name="ilosc"
                 ngModel
                 #ilosc="ngModel"
                 required>
          <span class="help-block" *ngIf="!ilosc.valid && ilosc.touched"
                style="color:red; font-size: 10px">Podaj ilość!</span>
        </div>
      </div>
      <br>

      <h4>{{'Cena: ' + cena_calosc + 'zł'}}</h4>

      <br>
      <div>
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid ">Kup
        </button>

      </div>
    </form>
  </div>
</div>

