.loader-container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(black, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;

  .loader {
    z-index: 901;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 96px;
    width: 96px;
    -webkit-animation: loader-1 4.8s linear infinite;
    animation: loader-1 4.8s linear infinite;
  }

  @-webkit-keyframes loader-1 {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes loader-1 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .loader span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 96px;
    width: 96px;
    clip: rect(0, 96px, 96px, 48px);
    -webkit-animation: loader-2 1.2s linear infinite;
    animation: loader-2 1.2s linear infinite;
  }

  @-webkit-keyframes loader-2 {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(220deg);
    }
  }
  @keyframes loader-2 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(220deg);
    }
  }

  .loader span::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 96px;
    width: 96px;
    clip: rect(0, 96px, 96px, 48px);
    border: 8px solid #0063BE;
    border-radius: 50%;
    -webkit-animation: loader-3 1.2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
    animation: loader-3 1.2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
  }

  @-webkit-keyframes loader-3 {
    0% {
      -webkit-transform: rotate(-140deg);
    }
    50% {
      -webkit-transform: rotate(-160deg);
    }
    100% {
      -webkit-transform: rotate(140deg);
    }
  }
  @keyframes loader-3 {
    0% {
      transform: rotate(-140deg);
    }
    50% {
      transform: rotate(-160deg);
    }
    100% {
      transform: rotate(140deg);
    }
  }
}
