<ur-loader *ngIf="klienciService.isLoading"></ur-loader>
<div class="row" *ngIf="!klienciService.isLoading">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <form #f="ngForm">
      <div class="form-group">
        <label for="imie">Imię: </label>
        <input type="text"
               id="imie"
               [ngModel]="klienciService.users[id][1]"
               class="form-control"
               name="imie"
               ngModel
               required
               imie
               #imie="ngModel">
        <span class="help-block" *ngIf="!imie.valid && imie.touched" style="color:red; font-size: 10px">Imie jest wymagane!</span>
      </div>
      <div class="form-group" >
        <label for="nazwisko">Nazwisko: </label>
        <input type="text"
               id="nazwisko"
               [ngModel]="klienciService.users[id][2]"
               class="form-control"
               name="nazwisko"
               ngModel
               #nazwisko="ngModel"
               required>
        <span class="help-block" *ngIf="!nazwisko.valid && nazwisko.touched" style="color:red; font-size: 10px">Nazwisko jest wymagane!</span>
      </div>
      <div class="form-group">
        <label for="email">Email: </label>
        <input type="text"
               id="email"
               disabled
               class="form-control"
               name="email"
               [ngModel]="klienciService.users[id][3]"
               ngModel
               required
               email
               #email="ngModel">
        <span class="help-block" *ngIf="!email.valid && email.touched" style="color:red; font-size: 10px">Wprowadź poprawny email!</span>
      </div>
      <div class="form-group">
        <label for="ulica">Ulica: </label>
        <input type="text"
               id="ulica"
               [ngModel]="klienciService.users[id][4]"
               class="form-control"
               name="ulica"
               ngModel
               #ulica="ngModel"
               required>
        <span class="help-block" *ngIf="!ulica.valid && ulica.touched" style="color:red; font-size: 10px">Ulica jest wymagana!</span>
      </div>
      <div class="form-group">
        <label for="miasto">Miasto: </label>
        <input type="text"
               id="miasto"
               [ngModel]="klienciService.users[id][5]"
               class="form-control"
               name="miasto"
               ngModel
               #miasto="ngModel"
               required
        >
        <span class="help-block" *ngIf="!miasto.valid && miasto.touched" style="color:red; font-size: 10px">Miasto jest wymagane!</span>
      </div>
      <div class="form-group">
        <label for="kodPocztowy">Kod pocztowy: </label>
        <input type="text"
               id="kodPocztowy"
               [ngModel]="klienciService.users[id][6]"
               class="form-control"
               name="kodPocztowy"
               ngModel
               #kodPocztowy="ngModel"
               required
               [ngClass]="{ 'is-invalid':!kodPocztowyV(kodPocztowy.value)}"
        >
        <span class="help-block"
              *ngIf="(!kodPocztowy.valid  || !kodPocztowyV(kodPocztowy.value)) && kodPocztowy.touched "
              style="color:red; font-size: 10px">Kod pocztowy jest niepoprawny!</span>
      </div>
      <div>
        <label for="firma" style="marginRight:8px">Firma</label>
        <input type="checkbox" [checked]="czyFirma" id="firma" name="firma" value="firma" (click)="onFirma()">
      </div>
      <div *ngIf="!czyFirma">
        <label for="pesel">PESEL: </label>
        <input type="pesel"
               id="pesel"
               class="form-control"
               name="pesel"
               [ngModel]="klienciService.users[id][7]"
               ngModel
               #pesel="ngModel"
               [ngClass]="{ 'is-invalid':!peselV(pesel.value)}"
               required>
        <span class="help-block"
              *ngIf="(!pesel.valid  || !peselV(pesel.value)) && pesel.touched "
              style="color:red; font-size: 10px">Pesel jest niepoprawny!</span>
      </div>
      <div *ngIf=" czyFirma">
        <label for="regon">REGON: </label>
        <input type="regon"
               id="regon"
               [ngModel]="klienciService.users[id][8]"
               class="form-control"
               name="regon"
               ngModel
               #regon="ngModel"
               [ngClass]="{ 'is-invalid':!regonV(regon.value)}"
               required>
        <span class="help-block"
              *ngIf="(!regon.valid  || !regonV(regon.value)) && regon.touched "
              style="color:red; font-size: 10px">REGON jest niepoprawny!</span>
      </div>
      <div>
        <label for="nip">NIP: </label>
        <input type="nip"
               id="nip"
               [ngModel]="klienciService.users[id][9]"
               class="form-control"
               name="nip"
               ngModel
               #nip="ngModel"
               required>
        <span class="help-block"
              *ngIf="(!nip.valid  || !nipV(nip.value)) && nip.touched "
              style="color:red; font-size: 10px">NIP jest niepoprawny!</span>
      </div>
      <div>
        <button class="btn btn-primary"
                [disabled]="!f.valid || !zipcode " (click)="edytuj(f)">Edytuj
        </button>
        <button class="btn btn-danger" (click)="usun()">Usuń
        </button>
      </div>
    </form>
  </div>
</div>

