<ur-loader *ngIf="rezerwacjaService.isLoading"></ur-loader>
<div class="row">
  <div class="col-xs-12">
    <button (click)="odswierzListe()" class=" btn btn-success">Odśwież</button>
  </div>
</div>
<div class="row">
  <div style="max-height: 90vh; overflow-y: auto;">

    <div style="max-height: 80vh; overflow-y: auto">
      <div class="left" *ngFor="let rezerwacja of rezerwacjaService.rezerwacjeA, let i = index">
        <a style="cursor: pointer;" class="list-group-item clearfix"
           *ngIf="(moje && rezerwacja[3] == rezerwacjaService.email) || !moje">
          <h4 class="list-group-item-heading">{{"Data: " + rezerwacja[1] + " Godzina: " + rezerwacja[2] + ":00"}}</h4>
          <p class="list-group-item-text">{{rezerwacja[4] + " " + rezerwacja[5] + " " + rezerwacja[3]}}</p>
        </a>
      </div>
    </div>


  </div>
</div>
