body, html {
  height: 100%;
}

ur-arcanoid {
  display: inline-block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 952;
  width: 500px;
  height: 500px;
  margin: auto;
}

#arcanoid_container {
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 951;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.45);
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

:host {
  display: block;
}

.fade {
  opacity: 0;
}

