<div id="arcanoid_container" *ngIf="!arcanoidService.koniec" [@fadeInOut]></div>
<ur-arcanoid id="arcanoid" *ngIf="!arcanoidService.koniec" [@fadeInOut]></ur-arcanoid>
<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

