<ur-loader *ngIf="isLoading"></ur-loader>
<div class="row" *ngIf="!isLoading">
  <div class="col-md-9">
    <div style="padding: 25px 0 25px 0; text-align: center">
      <h1>Aktualności</h1>
      <div class="row">
        <div class="col-md-6" [routerLink]="['stacja']" id="simulator" style="cursor: pointer">
          <h2 style="">Premiera Nowej gry "Gas Station Simulator 2020"</h2>
          <p style="text-align: justify"> Kliknij tutaj aby zakupić towar </p>
        </div>
        <div class="col-md-6">
          <h2>COVID-19: Dbamy o wspólne bezpieczeństwo</h2>
          <p style="text-align: justify">Zdajemy sobie sprawę, jak ważne w obecnym czasie jest zachowanie wszystkich
            możliwych środków ostrożności, które mogą zapobiec rozprzestrzenianiu się wirusa SARS-CoV-2. Zdrowie naszych
            pracowników i klientów jest dla nas priorytetem, dlatego skupiamy na zapewnieniu najwyższego poziomu
            higieny, dezynfekcji i bezpieczeństwa w nowej sytuacji. Wiemy również, że podróże dla niektórych z nas nadal
            są konieczne. Z tego względu nasze stacje pozostają otwarte, by służyć kierowcom i lokalnym
            społecznościom. </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h2>Akcja „Darmowa kawa dla wszystkich służb”</h2>
          <p style="text-align: justify">PB chce podziękować służbom, które są zaangażowane w walkę z COVID-19 i każdego
            dnia narażają się walcząc o nasze zdrowie i bezpieczeństwo. Dlatego w ramach akcji <b>„Darmowa kawa dla
              wszystkich służb”</b> do 30 kwietnia każdy pracownik Pogotowia, Straży Pożarnej, Policji, Wojska, Straży
            Miejskiej i Straży Granicznej, który odwiedzi stacje PB otrzyma za darmo gorącą kawę lub herbatę.</p>
        </div>
        <div class="col-md-6">
          <h2>Złoty Laur Konsumenta ponownie dla PB Helix! </h2>
          <p style="text-align: justify">PB Helix zdobyła złotylaurw kategorii „Oleje silnikowe” w ogólnopolskim
            plebiscycie popularności produktów i usług „ Laur Konsumenta”. Godłem została wyróżniona już po raz piąty z
            rzędu.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <h3>Dane kontaktowe</h3>
    <div *ngIf="!isEdit">
      <h4><b>Telefon :</b> {{dane[1]}}</h4>
      <h4><b>Fax :</b> {{dane[2]}}</h4>
      <h4><b>Adres :</b> {{dane[0]}}</h4>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2560.597723387732!2d19.995362115717846!3d50.07509497942532!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4716452d26ed125d%3A0x1e197d5615f1e725!2sal.%20Jana%20Paw%C5%82a%20II%2037%2C%2031-864%20Krak%C3%B3w!5e0!3m2!1spl!2spl!4v1587225938853!5m2!1spl!2spl"
        frameborder="0" style="border:0; width: 100%" allowfullscreen aria-hidden="false" tabindex="0"></iframe>
      <button class="btn btn-primary " *ngIf="uprawnienia == 1" (click)="isEdit=true"
              style="margin-top: 25px; margin-left: auto;margin-right: auto;display:block">Edytuj
      </button>
    </div>
    <div *ngIf="isEdit">
      <form #f="ngForm">
        <div class="form-group">
          <label for="telefon">Telefon: </label>
          <input type="text"
                 id="telefon"
                 value="user[1]"
                 [ngModel]="dane[1]"
                 class="form-control"
                 name="telefon"
                 ngModel
                 required
                 telefon
                 #telefon="ngModel">
          <span class="help-block" *ngIf="!telefon.valid && telefon.touched" style="color:red; font-size: 10px">Telefon jest wymagany!</span>
        </div>
        <div class="form-group">
          <label for="fax">Fax: </label>
          <input type="text"
                 id="fax"
                 [ngModel]="dane[2]"
                 class="form-control"
                 name="fax"
                 ngModel
                 #fax="ngModel"
                 required>
          <span class="help-block" *ngIf="!fax.valid && fax.touched" style="color:red; font-size: 10px">Fax jest wymagane!</span>
        </div>
        <div class="form-group">
          <label for="adres">Adres: </label>
          <input type="text"
                 id="adres"
                 class="form-control"
                 name="adres"
                 [ngModel]="dane[0]"
                 ngModel
                 required
                 #adres="ngModel">
          <span class="help-block" *ngIf="!adres.valid && adres.touched" style="color:red; font-size: 10px">Adres jest wymagany!</span>
        </div>

        <div>
          <button class="btn btn-primary" (click)="edytuj(f)"
                  [disabled]="!f.valid ">Edytuj
          </button>

        </div>
      </form>
    </div>
  </div>
</div>
