<ur-loader *ngIf="cennikService.isLoading"></ur-loader>
<div class="row" *ngIf="!cennikService.isLoading" style="margin-top: 35px">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <form #f="ngForm">
      <div class="form-group">
        <label for="produkt">Produkt : </label>
        <select class="custom-select form-control mr-sm-2"
                id="produkt"
                name="produkt"
                ngModel
                required
                #produkt="ngModel">
          <ng-container *ngFor="let produkt of cennikService.cennik, let i = index">
            <option [value]="produkt[1] ">
              {{produkt[1]}}
            </option>
          </ng-container>
        </select>

        <span class="help-block" *ngIf="!produkt.valid && produkt.touched" style="color:red; font-size: 10px">Stanowisko jest wymagane!</span>
      </div>
      <div class="form-group">
        <label>Ilość: </label>
        <input type="number"
               id="ilosc"
               class="form-control"
               name="ilosc"
               ngModel
               [ngModel]="ile"
               min="1"
               step="10"
               #ilosc="ngModel"
               required
               (focusout)="iloscPopraw(ilosc.value)"
        >
        <span class="help-block" *ngIf="!ilosc.valid && ilosc.touched || ilosc.value < 0 "
              style="color:red; font-size: 10px">Wprowadź poprawną ilość!</span>
      </div>

      <button class="btn btn-primary" [disabled]="!f.valid " (click)="dodaj(f)">Dodaj
      </button>

    </form>
  </div>
</div>

