<ur-loader *ngIf="profilService.isLoading"></ur-loader>
<div class="row" *ngIf="!profilService.isLoading">
  <div class="col-md-6">
    <app-program-lojalnosciowy-lista></app-program-lojalnosciowy-lista>
  </div>
  <div class="col-md-6">
    <h4 *ngIf=" userData.uprawnienia == '0'" style="float:right">
      {{"Punkty: " + profilService.user[11]}}
    </h4>
    <div *ngIf="programLojanoscioyService.kod != ''" style="margin-top: 70px; text-align: center">
      <h3>Wygenerowany kod do użycia na stacji :</h3>
      <h2>{{programLojanoscioyService.kod}}</h2>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
