<a style="cursor: pointer;margin-bottom: 4px; z-index: 500" class="list-group-item clearfix"
   routerLinkActive="active" *ngIf="promocja[0] > 0">
  <!--[routerLink]="[id]"-->
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{"Produkt: " + promocja[1] }}</h4>
    <h4 class="list-group-item-heading">{{"Wymagane punkty: " + promocja[2]}}</h4>

  </div>
  <div class="pull-right">
    <button class="btn btn-danger" (click)="usun(promocja[0])" style="z-index: 550"
            *ngIf=" userData.uprawnienia == '1'">X
    </button>
    <button class="btn btn-success" (click)="odbierz(promocja[0])" style="z-index: 550"
            *ngIf=" userData.uprawnienia == '0'" [disabled]="promocja[2] >= profilService.user[11]">Odbierz
    </button>
  </div>
</a>
