<ur-loader *ngIf="programLojalnosciowyService.isLoading"></ur-loader>
<div *ngIf="!programLojalnosciowyService.isLoading">
  <div class="row">
    <div class="col-xs-12">
      <button href="#" (click)="programLojalnosciowyService.promocje()" class=" btn btn-success">Odśwież</button>
      <button [routerLink]="'nowy'" class=" btn btn-success" *ngIf=" this.uprawnienia === 1">Nowy</button>

    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div style="max-height: 75vh; overflow-y: auto">
        <app-promocja *ngFor="let promocja of programLojalnosciowyService.promocje_array, let i = index"
                      [promocja]="promocja" [id]="i"
                      style="margin-bottom: 7px"></app-promocja>
      </div>
    </div>
  </div>
</div>
