<ur-loader *ngIf="klienciService.isLoading"></ur-loader>
<div class="row" *ngIf="!klienciService.isLoading">
  <div class="col-xs-12">
    <button href="#" (click)="odswierzListe()" class=" btn btn-success">Odśwież</button>
    <button [routerLink]="'auth/rejestracja2'" class=" btn btn-success">Nowy</button>

  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div style="max-height: 90vh; overflow-y: auto">
      <app-klient *ngFor="let user of klienciService.users, let i = index" [user]="user" [id]="i"
                  style="margin-bottom: 7px"></app-klient>
    </div>
  </div>
</div>
